sudo: required
language: c++
compiler:
- clang
- gcc
cache: apt
addons:
  apt:
    packages:
    - libtbb-dev
# branches:
#   only:
#   - master
#   - cleaner_parsing
#   - scaling-old-parsing
#   - batch_parsing
#   - batch_parsing_output
#   - blocked_input
#   - bug_fixes
matrix:
  include:
  # aarch64 - ARM 64-bit
  - name: aarch64
    compiler: gcc
    env:
    - ARCH=arm64
    install: |
      docker run --rm --privileged \
        multiarch/qemu-user-static:register --reset && \
        docker build --rm -t bowtie2 .
    script: |
      docker run --rm -t \
        -e CXX=${CXX} \
        -e CC=${CC} \
        bowtie2
    # Set "if" element to avoid run the job for a pull-request.
    # if: type = cron OR env(CI_CRON) = 1
  allow_failures:
  - name: aarch64
script: make allall && make simple-test
notifications:
  slack:
    secure: tfzT8N1fNV+oSV7tide9WrAj3ifs+LONJ3fCH1tUzexqrx23te4lE0oAj9C1cEMJ4evyRYwHNG8HZoLCOy8EfapqbWm6vgLIlkIBpeZ9E6f2jG6v0YuVDWWpqQC3qdGXCqWtHPjgs3i5OLsLwwQ/LItLoTqpBk2aYv+vGNs2F9g=
